* {
    padding: 0;
    margin: 0;
}

.sticky-nav {
    background-color: #0379B0;
    width: 20vw;
    height:100vh ;
    position: sticky;
    top: 0;
}

.right-content {
    background-color: #F7F6F9;
    width:100%;
    /* margin-left: 20vw; */
    position: relative; /* Add this line */
    top: 0;
    padding:25px;
}

h1 {
    font-family: 'Arial';
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 5px;
}

h3 {
    font-family: 'Arial';
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-left: 5px;
}

body {
    font-family: Arial, sans-serif;
    display:flex;
}

.chart-wrap {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.chart-container {
    width: 45%;
    height: 400px;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: #ABABAB;
    padding: 15px;
    background-color: white;
}

.area-selector {
    border-color: #ABABAB;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

select {
    margin-bottom: 20px;
}
/* Trend pill styling */
.trend-pill {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.green { background-color: green; }
.red { background-color: red; }

.conclusion-card {
    border: 2px solid #ccc;  /* Light gray border around the conclusion box */
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 100%; /* Add this line to prevent overflow */
    box-sizing: border-box; /* Add this line to include padding and border in the width */
    text-align: center;
    background-color: white;
}

.conclusion {
    width:500px;
}

.map-img {
    width: 100%; /* Ensure the image scales proportionally */
    max-width: 600px; /* Set the maximum width to 500px */
    height: auto;
    display:flex;
}


.logo img {
    width: 100%; /* Make the image fill the container */
    max-width: 150px; /* Set a reasonable max width */
    display: block; /* Remove extra spacing */
    margin: 10px 20px; 
}


.word-list {
    list-style-type: none;
   text-align: left;
   padding:30px;
    margin: 20px 0;
    color: white
}

.word-list li {
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.8;
}

/* Highlight the Dashboard item */
.highlight {
    color: #b2d2ff; /* This color can be changed to any other color */
    font-weight: bold;
}
